In [4]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns
from sqlalchemy import create_engine

df = pd.read_csv('C:/Users/Huizhe ZHU/Desktop/insepection_7.csv',low_memory=False)

In [6]:
# define connection url
conn_url = 'postgresql://postgres:123@localhost/final_project'

# create an engine that connect to postgre-sql
engine = create_engine(conn_url)

# establish a connection
connection = engine.connect()

In [7]:
delete = """
DROP SCHEMA public CASCADE;
CREATE SCHEMA public;
"""
results = connection.execute(delete)

In [8]:

#rename df

df['camis'] = df['CAMIS']
df['restaurant_name_violations'] = df['DBA_x']
df['premise_name_liqour_license'] = df['Premise Name']
df['zip'] = df['ZIPCODE']
df['board_address'] = df['Board Address']
df['phone_number'] = df['PHONE']
df['cuisine_name'] = df['CUISINE.DESCRIPTION']
df['board_id'] = df['Community Board']
df['borough_name'] = df['Borough']
df['district_manager'] = df['District Manager']
df['violation_code'] = df['VIOLATION.CODE']
df['violation_description'] = df['VIOLATION.DESCRIPTION']
df['critical_flag'] = df['CRITICAL.FLAG']
df['license_class_code'] = df['License Class Code']
df['license_type_code'] = df['License Type Code']
df['address'] = df['Address']
df['score'] = df['SCORE']
df['grade'] = df['GRADE']
df['inspection_date'] = df['INSPECTION.DATE']
df['license_expiration_date'] = df['License Expiration Date']
df['complaint_type'] = df['Complaint Type']
df['descriptor'] = df['Descriptor']
df['food_poisoning_complaint_id'] = df['Unique Key']
df['close_date'] = df['Closed Date']
df['status'] = df['Status']
df['due_date'] = df['Due Date']
df['location_type'] = df['Location Type']
df['chair'] = df['Chair']
df['license_issued_date'] = df['License Issued Date']

#create tables 
stmt = """    
CREATE TABLE restaurants (
    camis              integer,
    restaurant_name_violations    varchar(100) NOT NULL,
    address            varchar(200) NOT NULL,      
    zip                integer,
    phone_number       varchar (12),
    PRIMARY KEY (camis)
);

CREATE TABLE violations (
    violation_code        varchar(4) NOT NULL,
    violation_description text,
    critical_flag         varchar(1) CHECK (critical_flag IN ('Y', 'N')),
    PRIMARY KEY (violation_code)
);

CREATE TABLE license_type (
    license_id      integer,   
    license_class_code     char(3) NOT NULL,
    license_type_code varchar(2) NOT NULL,
    PRIMARY KEY (license_id)
);

CREATE TABLE cuisines (
    cuisines_id    integer NOT NULL,
    cuisine_name   varchar(70) NOT NULL,
    PRIMARY KEY (cuisines_id)
);

CREATE TABLE  boroughs(
    borough_id     integer NOT NULL,
    borough_name   varchar(15) NOT NULL,
    PRIMARY KEY (borough_id)
);

CREATE TABLE incidents (
    food_poisoning_complaint_id    integer NOT NULL,
    descriptor     varchar(100) CHECK (descriptor IN ('1 or 2', '3 or More')),
    PRIMARY KEY (food_poisoning_complaint_id)
);

CREATE TABLE location_types (
    location_type_id  integer NOT NULL,
    location_type       varchar (100),
    PRIMARY KEY(location_type_id)
);

CREATE TABLE community_board (
    board_id        varchar(30) NOT NULL,
    chair           varchar(70),
    district_manager  varchar(70),
    board_address   varchar(100),
    PRIMARY KEY(board_id)
);

CREATE TABLE restaurants_violations (
    violation_id      integer,
    camis             integer NOT NULL, 
    violation_code    varchar(3) NOT NULL,
    grade             varchar(1),
    score             integer,
    inspection_date   date,
    PRIMARY KEY (violation_id),
    FOREIGN KEY (camis) REFERENCES restaurants(camis),
    FOREIGN KEY (violation_code) REFERENCES violations(violation_code)
);

CREATE TABLE restaurants_licenses(
    restaurant_license_id integer,
    camis           integer NOT NULL, 
    license_id      integer NOT NULL,   
    license_issued_date      date NOT NULL,
    license_expiration_date date NOT NULL,
    PRIMARY KEY (restaurant_license_id),
    FOREIGN KEY (camis) REFERENCES restaurants(camis),
    FOREIGN KEY (license_id) REFERENCES license_type(license_id)
);

CREATE TABLE restaurants_incidents(
    resturant_incident_id integer,
    camis       integer NOT NULL, 
    food_poisoning_complaint_id integer NOT NULL,
    status      varchar(20) NOT NULL,
    due_date    date,
    close_date  date,
    PRIMARY KEY (resturant_incident_id),
    FOREIGN KEY (camis) REFERENCES restaurants(camis),
    FOREIGN KEY (food_poisoning_complaint_id) REFERENCES incidents(food_poisoning_complaint_id)
);

CREATE TABLE restaurants_location(
    camis             integer NOT NULL, 
    location_type_id  integer NOT NULL,
    PRIMARY KEY (camis, location_type_id),
    FOREIGN KEY (camis) REFERENCES restaurants(camis),
    FOREIGN KEY (location_type_id) REFERENCES location_types(location_type_id)       
);

CREATE TABLE restaurants_cuisine(
    camis         integer NOT NULL,    
    cuisines_id    integer NOT NULL,
    PRIMARY KEY (camis, cuisines_id),
    FOREIGN KEY (camis) REFERENCES restaurants(camis),
    FOREIGN KEY (cuisines_id) REFERENCES cuisines(cuisines_id)       
);

CREATE TABLE restaurants_borough(
    camis         integer NOT NULL, 
    borough_id    integer,  
    PRIMARY KEY (camis, borough_id),
    FOREIGN KEY (camis) REFERENCES restaurants(camis),
    FOREIGN KEY (borough_id) REFERENCES boroughs(borough_id)        
);

CREATE TABLE restaurants_boards(
    camis      integer NOT NULL, 
    board_id   varchar(20) NOT NULL, 
    PRIMARY KEY (camis, board_id),
    FOREIGN KEY (camis) REFERENCES restaurants(CAMIS),
    FOREIGN KEY (board_id) REFERENCES community_board(board_id) 
);
"""
#execute table creation
results = connection.execute(stmt)

restaurants=df[['camis', 'restaurant_name_violations' , 'address' ,'zip','phone_number']]
restaurants= restaurants.drop_duplicates(subset='camis').reset_index()
restaurants= restaurants[['camis', 'restaurant_name_violations' , 'address' ,'zip','phone_number']]

violations = df[['violation_code','violation_description','critical_flag']]
violations = violations.drop_duplicates(subset='violation_code').dropna(subset=['violation_code']).reset_index()
violations = violations[['violation_code','violation_description','critical_flag']]

license_type = df[['license_class_code','license_type_code']]
license_type = license_type.drop_duplicates().reset_index()
license_type['license_id'] = license_type.index
license_type = license_type[['license_id', 'license_class_code','license_type_code']]

cuisine_wip = pd.DataFrame(df['cuisine_name'].unique())
cuisine_wip['cuisines_id'] = cuisine_wip.index
cuisines = cuisine_wip[['cuisines_id',0]].rename({0: 'cuisine_name'}, axis = 1)

incidents = df[['food_poisoning_complaint_id', 'descriptor']].drop_duplicates().reset_index()
incidents = incidents[['food_poisoning_complaint_id', 'descriptor']]

location_types = pd.DataFrame(df['location_type'].drop_duplicates()).reset_index()
location_types['location_type_id'] = location_types.index
location_types=location_types[['location_type_id','location_type']]

restaurant_cuisine_wip = df[['camis','cuisine_name']]
restaurant_cuisine_wip = pd.merge(restaurant_cuisine_wip, cuisines, on ='cuisine_name').drop_duplicates().reset_index()
restaurant_cuisine = restaurant_cuisine_wip[['camis','cuisines_id']].drop_duplicates()

restaurants_violations_wip = df[['camis','violation_code','score','grade','inspection_date']].drop_duplicates().reset_index()
restaurants_violations_wip['violation_id'] = restaurants_violations_wip.index
restaurants_violations = restaurants_violations_wip[['violation_id','camis','violation_code','score','grade','inspection_date']]
restaurants_violations = restaurants_violations.dropna().reset_index()
restaurants_violations = restaurants_violations[['violation_id','camis','violation_code','score','grade','inspection_date']]

restaurants_licenses_wip=df[['camis', 'license_class_code','license_type_code' ,'license_issued_date', 'license_expiration_date']].drop_duplicates().reset_index()
restaurants_licenses_wip=pd.merge(restaurants_licenses_wip, license_type, on = ['license_class_code','license_type_code']).drop(columns = ['license_class_code','license_type_code'])
restaurants_licenses_wip['restaurant_license_id'] = restaurants_licenses_wip.index
restaurants_licenses = restaurants_licenses_wip[['restaurant_license_id','camis','license_id','license_issued_date','license_expiration_date']]

restaurants_incidents=df[['camis', 'food_poisoning_complaint_id', 'status', 'due_date', 'close_date']]
restaurants_incidents=restaurants_incidents.drop_duplicates().reset_index()
restaurants_incidents['resturant_incident_id'] = restaurants_incidents.index
restaurants_incidents = restaurants_incidents[['resturant_incident_id','camis', 'food_poisoning_complaint_id', 'status', 'due_date', 'close_date']]

restaurants_location_wip=df[['camis', 'location_type']].drop_duplicates().reset_index()
restaurants_location = pd.merge(restaurants_location_wip,location_types, on = 'location_type').drop(columns = ['index','location_type'])

boroughs = df[['borough_name']].drop_duplicates().reset_index()
boroughs['borough_id'] = boroughs.index
boroughs = boroughs[['borough_id','borough_name']]

community_board = df[['board_id', 'chair','district_manager', 'board_address']].drop_duplicates().reset_index()
community_board['district_manager'] = community_board['district_manager'].str.split('  ').str[0]
community_board = community_board[['board_id', 'chair','district_manager', 'board_address']]

restaurant_borough_wip = df[['camis', 'borough_name']]
restaurant_borough_wip = pd.merge(restaurant_borough_wip,boroughs, on='borough_name').drop(columns = ['borough_name']).drop_duplicates().dropna().reset_index()
restaurant_borough = restaurant_borough_wip[['camis', 'borough_id']]

restaurant_boards = df[['camis', 'board_id']].drop_duplicates().reset_index()
restaurant_boards = restaurant_boards[['camis', 'board_id']]

restaurants.to_sql(name='restaurants', con=engine, if_exists='append', index=False)
violations.to_sql(name='violations', con=engine, if_exists='append', index=False)
license_type.to_sql(name='license_type', con=engine, if_exists='append', index=False)
cuisines.to_sql(name='cuisines', con=engine, if_exists='append', index=False)
incidents.to_sql(name='incidents', con=engine, if_exists='append', index=False)
location_types.to_sql(name='location_types', con=engine, if_exists='append', index=False)
cuisines.to_sql(name='restaurant_cuisine', con=engine, if_exists='append', index=False)
restaurants_violations.to_sql(name='restaurants_violations', con=engine, if_exists='append', index=False)
restaurants_licenses.to_sql(name='restaurants_licenses', con=engine, if_exists='append', index=False)
restaurants_incidents.to_sql(name='restaurants_incidents', con=engine, if_exists='append', index=False)
restaurants_location.to_sql(name='restaurants_location', con=engine, if_exists='append', index=False)
boroughs.to_sql(name='boroughs', con=engine, if_exists='append', index=False)
community_board.to_sql(name='community_board', con=engine, if_exists='append', index=False)
restaurant_borough.to_sql(name='restaurant_borough', con=engine, if_exists='append', index=False)
restaurant_boards.to_sql(name='restaurant_boards', con=engine, if_exists='append', index=False)